body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("https://tsflights-images.firebaseapp.com/mountains.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100vw;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo_box {
        background-image: url("https://tsflights-images.firebaseapp.com/TsFlightsHorizLogo.jpg");
        height: 80px;
        width: 250px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
        margin: 10px 20px;
        align-self: flex-start;
        @media screen and (max-width: 497px) {
            width: 200px;
            margin-left: 4px;
            margin-top: 7px;
        }
    }

    .link_box {
        height: 80px;
        margin: 18px 10px;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
            border-radius: 9px;
            width: 100px;
            height: 30px;
            background-color: #415D65;
            color: white;
            text-align: center;
        }
    }
}

h1 {
    color:#c00;
    font-family:sans-serif;
    font-size:2em;
    margin-bottom:0;
  }
  
  table {  
    font-family:sans-serif;
    th, td {
      padding:.25em .5em;
      text-align:left;
      &:nth-child(2) {
        text-align:right;
      }
    }
    td {
      background-color:#eee;    
    }
    th {
      background-color:#009;
      color:#fff;
    }
  }
  
  .zigzag {
    border-collapse:separate;
    border-spacing:.25em 1em;
    tbody tr:nth-child(odd) {
      transform:rotate(2deg);
    }
    thead tr,
    tbody tr:nth-child(even) {
      transform:rotate(-2deg);
    }
  }